# Dependencies
node_modules
.pnpm-store

# Build outputs
dist
.next
out
build

# IDE and editor files
.idea
.vscode
*.swp
*.swo
.DS_Store

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# TypeScript
*.tsbuildinfo

# Electron
release
release-builds

# Testing
coverage

# Misc
.cache
.temp
.tmp 